.Snake {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Snake-grid {
  background-color: #8abe7b;
  border: solid 1px #8abe7b;
  color: #8abe7b;
  font-family: "Courier New", Courier, monospace;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main info"
    "footer footer";
  column-gap: 1px;
  row-gap: 1px;
}

.Snake-header {
  background-color: #000000;
  padding: 10px;
  grid-area: header;
}

.Snake-main {
  background-color: #000000;
  grid-area: main;
}

.Snake-canvas {
  background-color: #000000;
  display: block;
}

.Snake-info {
  background-color: #000000;
  padding: 10px;
  grid-area: info;
}

.Snake-footer {
  background-color: #000000;
  padding: 10px;
  grid-area: footer;
}

.Snake-button {
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  color: #8abe7b;
  padding: 10px 20px;
  border: solid 1px #8abe7b;
}

.Snake-button:hover {
  color: tomato;
  border: solid 1px tomato;
}

.Snake-button:active {
  color: yellowgreen;
  border: solid 1px yellowgreen;
}

.Snake-button:focus {
  outline: 0;
}
