body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.App {
  height: 100vh;
  background: linear-gradient(
    333deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.App-header {
  grid-area: header;
  background-color: #aaaaaa88;
  color: white;
}

.App-content {
  grid-area: main;
}

.App-footer {
  grid-area: footer;
}

.App-link {
  color: #086079;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
}

.App-link:hover {
  color: #08607966;
  text-decoration: underline;
}
